@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Sora", sans-serif;
}

a {
  display: flex;
  justify-content: center;
  padding: 1em 2.5em;
  text-decoration: none;
  transition-duration: 0.3s;
}
a:hover {
  font-size: 1.1rem;
  background-color: #4c00c5;
}

.primeira-tela {
  background-image: url(../assets/bg1-min-scaled.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #000000;
}
.primeira-tela .primeira-tela-container {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  gap: 3em;
  position: relative;
  justify-content: center;
  margin-left: 6em;
  height: 100%;
}
.primeira-tela .primeira-tela-container img {
  position: absolute;
  top: 0;
  left: -2.3em;
  width: 200px;
}
.primeira-tela .primeira-tela-container .primeira-tela-textos {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 30%;
}
.primeira-tela .primeira-tela-container a {
  width: 20em;
  white-space: nowrap;
}

.segunda-tela {
  height: 40vh;
  background-color: #000000;
}
.segunda-tela .segunda-tela-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-top: 3em;
  align-items: center;
  text-align: center;
  height: 100%;
}

.terceira-tela {
  height: 100vh;
  background-color: #000000;
}
.terceira-tela .terceira-tela-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
.terceira-tela .terceira-tela-container .futuryxx-vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 2em;
}
.terceira-tela .terceira-tela-container .futuryxx-vantagens .linha1, .terceira-tela .terceira-tela-container .futuryxx-vantagens .linha2 {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.terceira-tela .terceira-tela-container .futuryxx-vantagens .linha1 .vantagem, .terceira-tela .terceira-tela-container .futuryxx-vantagens .linha2 .vantagem {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  width: 280px;
}
.terceira-tela .terceira-tela-container .futuryxx-vantagens .linha1 .vantagem .vantagem-icon, .terceira-tela .terceira-tela-container .futuryxx-vantagens .linha2 .vantagem .vantagem-icon {
  position: absolute;
  top: -20px;
  width: 40px;
  height: 40px;
}

.quarta-tela {
  height: 90vh;
  background-image: url(../assets/bg2-scaled.jpg);
  background-size: cover;
  background-color: #000000;
}
.quarta-tela .quarta-tela-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  justify-content: center;
  gap: 2em;
  margin-left: 7em;
}

.quinta-tela {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 65vh;
  background-image: url(../assets/bg-scaled.jpg);
  background-size: cover;
  background-color: #000000;
}
.quinta-tela .quinta-tela-container {
  display: flex;
  flex-direction: column;
  margin-right: 8em;
  width: 40%;
  gap: 2em;
}

.sexta-tela {
  height: 130vh;
  background-color: #000000;
}
.sexta-tela .sexta-tela-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  height: 100%;
  padding: 3em;
}
.sexta-tela .sexta-tela-container .futuryxx-planos {
  display: flex;
  flex-direction: row;
  gap: 7em;
  height: 90%;
}
.sexta-tela .sexta-tela-container .futuryxx-planos .plano {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  width: 400px;
  height: 100%;
  transition-duration: 0.3s;
}
.sexta-tela .sexta-tela-container .futuryxx-planos .plano:hover {
  width: 420px;
  font-size: 1.1rem;
  box-shadow: 0 0 20px 7px #7d2dff;
}

.setima-tela {
  height: 95vh;
  background-image: url(../assets/setimaTela.png);
  background-size: cover;
  background-color: #000000;
}
.setima-tela .setima-tela-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10em;
}
.setima-tela .setima-tela-container .setima-tela-garantia {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10em;
}
.setima-tela .setima-tela-container .setima-tela-garantia div {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 2em;
}
.setima-tela .setima-tela-container .premium-icon {
  width: 30%;
}

.oitava-tela {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  background-color: #000000;
  gap: 3em;
}
.oitava-tela a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.4em;
  background-color: #1acc29;
  box-shadow: 0 0 10px #1acc29;
}
.oitava-tela a img {
  width: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: 100%;
  background-color: #575757;
  padding: 2em;
  text-align: center;
}
footer p {
  width: 70%;
  font-size: 0.7rem;
}

.fundo-destaque {
  background-color: #6201ff;
}

.sombra-destaque {
  box-shadow: 0 0 10px #6201ff;
}

.borda-destaque {
  border: 5px solid #6201ff;
}

.texto-destaque {
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */